@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

*{
    font-family: 'Inconsolata', monospace;
    color: white;
}
#body {
    min-height: 100vh;
    background-color: #222831;
    margin: 0;

}

#body-header {
    width: 100%;
    border-bottom: solid 1px white;
}

#header-title {
    padding: 3rem;
    text-align: center;
    color: white;
    font-size: 3rem;
}

#body-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#score-title {
    font-weight: 700;
    font-size: 2.5rem;
}
#score-container {
    display: flex;
}

#score-container p{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 1rem;
}


.rps-option {
    margin: 7rem 1rem 0 1rem;
    border-radius: 15px;
    background-color: #393e46;
    border: 2px solid #ddd;
    padding: 20px;
}

.rps-option:hover {
    cursor: pointer;
    background-color: #5e6064;
}

.rps-option i:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
}

.round-end-popup {
    position: fixed;
    font-size: 2rem;
    z-index: 101;
    width: fit-content;
    left: 47%;
    align-items: center;
    top: 50%;
    background-color: #2a2d33;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    border: solid 1px white;
    border-radius: 15px;
    transform: translate(-40%, -35%) scale(0);

    transition: 200ms ease-in-out;
}

#popup-active {
    transform: translate(-40%, -35%) scale(1);

}

#popup-participant-text {
    padding: 0;
    font-weight: 900;
    font-size: 2.2rem;
    margin: 0.1rem;
}

#popup-prompt-text {
    padding: 0;
}

#popup-choice-button {
    color: white;
    font-size: 2rem;
    background-color: #393e46;
    border: solid 1px white;
    padding: 1rem 2rem;
    border-radius: 7px;
    cursor: pointer;
}

#popup-choice-button:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
    background-color: #505257;

}